.primary-color {
    background-color: #4e73df!important;
    opacity: 0.95;
}

.primary-color:hover {
    background-color: #4e73df!important;
    opacity: 1;
}
.secondary-color {
    background-color: #c0c0c0!important;
}
.poiner:hover {
    cursor: pointer;
}

.opacity {
    opacity: 0.9;
}

.opacity:hover {
    opacity: 1;
}